<!DOCTYPE html>
<html>
<head>
    <title>我的欢迎页面</title>
    <style type="text/css">

    	a{
    		text-decoration: none;

    		font-weight: bolder;
    		font-size: 2em;

    	}
    </style>
</head>
<body bgcolor="pink">
<!-- 如何接收  views.home 传过来的值-->

<h1 style="text-align: center;">{{ name }}，欢迎光临！</h1>
<h2>{{ title }} </h2>
<div>
	<!-- <a href="/test/list/">进入我的主页 >>></a> -->

	<!-- 也可以使用模板 -->
	<a href="{% url 'list' %}">下一页 >>></a>

</div>


</body>
</html>
