<!DOCTYPE html>
<html>
<head>
    <title>我的处理主页</title>

    <style type="text/css">
    	a{
    		text-decoration: none;
    		font-size: 2em;
    		font-weight: bolder;
    	}
    </style>
</head>
<body bgcolor="orange">
<!-- 如何接收  views.home 传过来的值-->

<form method='post' action="/test/create/">
	<input type=" " name="insert" >
	<input type="submit" name="" value="提交">
</form>
 	
 	<ul>
 		{% for i in datas %}
 		<li>
 			{{ i.id }}
 			{{ i.content }}

 			<form method="post" action='/test/delete/{{ i.id }}/'>
 				<input type="hidden" name="" value="_DELETE">
 				<input type="submit" name="" value="删除">
 			</form>



 		</li>

 		{% endfor %}

 	</ul>

 	<a href="{% url 'home' %}">返回主页</a>
</body>
</html>