
<!DOCTYPE html>
<html>
<head>
	<title>
		
		hahhahahha
	</title>
</head>
<body>
{% if msg %}
{{ msg }}
{% endif %}
<form action="/login" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="登录">
</form>

</body>
</html>