<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>vue demo</title>

</head>
<body>
	<div id='app'>
		
		{{ info }}
		<hr color='red'>
		<h1>演示如何使用vue解析json数据</h1>

		<div v-if='loading'>
			Is loading.......
		</div>
		<div v-else v-for="currency in info" class="currency">

			{{ currency.description }}<br>
			{{ currency.rate }}
			<span v-html='currency.symbol'>
				
			</span>
			<br>                                                                                                         
			{{ currency.rate_float }}
		</div>
			
			


	</div>

</body>
</html>
	<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>

	<script type="text/javascript">
		

		new Vue({


				el:"#app",
				data(){
					return { info:null,
					loading:true,
					errored:false

				}
				


		},
		mounted(){

			axios
				.get('http://api.coindesk.com/v1/bpi/currentprice.json')
				.then(response => (this.info=response.data.bpi))
				.catch(error => console.log(error))
				.finally(() => this.loading=false)
	 		}
		});
	</script>