{% load static %}
<!DOCTYPE html> 
<html>

<head>
    <title>To Do List</title>
    <meta charset="utf-8">
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    
    <!-- ********* header ******************-->
    {% include 'html_list/partials/navbar.html' %}
   
    <!-- *********** main container **************** -->
    <div class="container">
        
        {% block container %}
        {% endblock %}
    
    </div>
       <!-- ************* footer **********************-->
    {% include 'html_list/partials/footer.html' %}
 
     <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>

</html>