{% extends 'html_list/laouts/master.html' %}
{% block contain %}

	<div class="text-center">
        <h1>任务列表</h1>

        <ul>
            <li>sssss</li>
            <li>asdfadfaf</li>
            <li>sdfasdfasf</li>
        </ul>
      

        <h3>Gavin</h3>
        <h4><a href="mailto:gavinsun@qq.com">gavinsun@qq.com</a></h4>
    </div>

{% endblock%}