{% extends 'html_list/laouts/master.html' %}
{% block container %}

<div class="container">
        <h1>请登录</h1>

        <form>
        	<input type="text" name="name"><br>
            <input type="password",name="password"><br>

        	<input type="submit" name="" value="登  录">
        </form>
      

        <h3>Gavin</h3>
        <h4><a href="mailto:gavinsun@qq.com">gavinsun@qq.com</a></h4>
    </div>
{% endblock %}