<!DOCTYPE html>
<html>
<head>
	<title>
		亲爱的客栈——欢迎您！
	</title>
	<style type="text/css">
		a{
			text-decoration: none;

		}
	</style>
	
</head>
<body bgcolor="gray">

<h1 style="color: pink">  {{ name }},欢迎进入亲爱的客栈！</h1>
<h2 style="color: white">我们竭诚为您服务</h2>
<hr>
<p style="color: orange">&copy;有事联系：emliy@qq.com</p> 
<a href="{% url 'list' %}">下一页>>></a>
</body>
</html>